---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not Found">
  <center style={{ marginTop: "100px" }}>
    <h1>ページが見つかりませんでした</h1>
    <p>このページは存在しないか、まだ作成されていません。</p>
  </center>
</Layout>
