---
import { whiteColor, blackColor } from "../components/DefineVars.astro";
import Layout from "../layouts/MainLayout.astro";
---

<style define:vars={{ whiteColor, blackColor }}>
  center {
    padding: 20px;
    border-radius: 4px;
    background-color: var(--whiteColor);
  }
  img {
    width: 400px;
    max-width: 80vw;
    margin-bottom: 20px;
  }
  :global(.dark) center {
    background-color: var(--blackColor);
  }
</style>

<Layout title="VSML">
  <center>
    <img src="/logo_with_title.png" />
    <div>
      VSML(Video Structure Markup
      Language)とは、動画の構成要素をXML形式で記述し、変換器に渡すと動画が生成される技術である。
    </div>
    <div>詳細な紹介はこちら↓</div>
    <div>
      <a href="https://qiita.com/PigeonsHouse/items/7e3a3c4ed8473a61f4ac">
        Qiita
      </a>
    </div>
    <div>
      <a href="https://www.nicovideo.jp/watch/sm43846163">ニコニコ動画</a>
    </div>
  </center>
</Layout>
