---
import { Icon } from "astro-iconify";
import {
  bluePrimaryColor,
  whiteColor,
  grayLightColor,
  blackColor,
  blueDarkColor,
  grayColor,
  maxWidth,
} from "./DefineVars.astro";
import HeaderLink from "./HeaderLink.astro";
import ThemeToggleButton from "./ThemeToggleButton.astro";

const breakPoint = "1024px";
---

<style
  define:vars={{
    bluePrimaryColor,
    blueDarkColor,
    whiteColor,
    blackColor,
    grayLightColor,
    grayColor,
    maxWidth,
    breakPoint,
  }}
>
  .header-parent {
    z-index: 2;
    position: sticky;
    top: 0;
    background-color: var(--whiteColor);
    height: 62px;
    display: flex;
    padding: 8px 20px;
    box-sizing: border-box;
    border-bottom: 2px solid var(--bluePrimaryColor);
    box-shadow: 0 0px 10px var(--blackColor);
    justify-content: center;
  }
  .header {
    width: 100%;
    max-width: var(--maxWidth);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left-header {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .right-header {
    display: flex;
  }
  .link-wrapper {
    display: flex;
    gap: 4px;
  }
  .top-link {
    display: inline-block;
    height: 100%;
  }
  .logo,
  .logo-dark {
    height: 100%;
  }
  .logo-dark {
    display: none;
  }
  .menu-icon {
    width: 40px;
    display: flex;
    align-items: center;
    color: var(--bluePrimaryColor);
    border-radius: 100px;
    padding: 4px;
  }
  .menu-icon:hover {
    background-color: var(--grayLightColor);
  }
  .menu {
    background-color: var(--whiteColor);
    border: 1px solid var(--grayLightColor);
    padding: 4px;
    border-radius: 4px;
    position: fixed;
    top: 52px;
    right: 8px;
    display: none;
  }
  .menu-visible {
    display: block;
  }
  @media screen and (max-width: 900px) {
    .link-wrapper {
      display: none;
    }
    .header {
      justify-content: space-between;
    }
  }
  @media screen and (min-width: 901px) {
    .menu-wrapper {
      display: none;
    }
    .menu {
      display: none;
    }
  }
  :global(.dark) {
    .header-parent {
      background-color: var(--blueDarkColor);
      border-bottom: 2px solid var(--bluePrimaryColor);
    }
    .logo {
      display: none;
    }
    .logo-dark {
      display: initial;
    }
    .menu-icon {
      color: var(--whiteColor);
    }
    .menu-icon:hover {
      background-color: inherit;
      color: var(--blueSecondaryColor);
    }
    .menu {
      background-color: var(--blueDarkColor);
      border: 1px solid var(--grayColor);
    }
  }
</style>

<div class="header-parent">
  <div class="header">
    <div class="left-header">
      <a href="/" class="top-link">
        <img class="logo" src="/wide_logo_with_title_revert.png" />
        <img class="logo-dark" src="/wide_logo_with_title_transparent.png" />
      </a>
      <div class="link-wrapper">
        <HeaderLink link="/docs/tags" display="タグドキュメント" />
        <HeaderLink link="/docs/properties" display="プロパティドキュメント" />
        <HeaderLink link="/how-to-use" display="導入" />
        <HeaderLink link="/tutorial" display="チュートリアル" />
        <HeaderLink link="/examples" display="使用例" />
      </div>
    </div>
    <div class="right-header">
      <ThemeToggleButton />
      <div class="menu-wrapper">
        <Icon class="menu-icon" name="ci:hamburger-md" />
        <div class="menu">
          <HeaderLink link="/docs/tags" display="タグドキュメント" />
          <HeaderLink
            link="/docs/properties"
            display="プロパティドキュメント"
          />
          <HeaderLink link="/how-to-use" display="導入" />
          <HeaderLink link="/tutorial" display="チュートリアル" />
          <HeaderLink link="/examples" display="使用例" />
        </div>
      </div>
    </div>
  </div>
</div>

<script is:inline>
  document.querySelector(".menu-icon")?.addEventListener("click", () => {
    document.querySelector(".menu")?.classList.toggle("menu-visible");
  });
</script>
