---
import {
  blueLightColor,
  bluePrimaryColor,
  blueSecondaryColor,
  grayLightColor,
  whiteColor,
  blackColor,
} from "../components/DefineVars.astro";

interface Heading {
  depth: number;
  slug: string;
  text: string;
}

interface Props {
  headings: Heading[];
}

const { headings } = Astro.props;
---

<style
  is:global
  define:vars={{
    blueLightColor,
    grayLightColor,
    bluePrimaryColor,
    blueSecondaryColor,
    blackColor,
  }}
>
  .content-wrapper {
    h1 {
      border-bottom: 2px solid var(--blueLightColor);
    }
    h2 {
      border-bottom: 1px solid var(--blueLightColor);
    }
    pre {
      padding: 8px;
      border-radius: 4px;
    }
    :not(pre) > code {
      color: var(--blueSecondaryColor);
      background-color: var(--blueLightColor);
      padding: 4px;
      margin: 0 2px;
      border-radius: 2px;
    }
    img {
      max-width: 100%;
    }
    a {
      color: var(--blueSecondaryColor);
    }
  }
  .dark .content-wrapper {
    :not(pre) > code {
      color: var(--blueLightColor);
      background-color: var(--blueDarkColor);
    }
    h1,
    h2 {
      border-bottom-color: var(--bluePrimaryColor);
    }
    a {
      color: var(--bluePrimaryColor);
    }
  }
</style>

<style
  define:vars={{
    blueSecondaryColor,
    whiteColor,
    blueLightColor,
  }}
>
  .page-wrapper {
    display: flex;
  }
  .content-wrapper {
    flex-grow: 1;
    background-color: var(--whiteColor);
    padding: 20px;
    border-radius: 4px;
    max-width: 100%;
    box-sizing: border-box;
  }
  .headings-wrapper {
    flex-shrink: 0;
    width: 300px;
    box-sizing: border-box;
  }
  .headings-sticky-wrapper {
    padding: 16px;
    max-height: 100vh;
    position: sticky;
    top: 62px;
  }
  .headings-wrapper {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      margin-bottom: 10px;
    }
    a {
      color: var(--blueSecondaryColor);
      text-decoration: none;
    }
  }
  @media screen and (max-width: 1200px) {
    .headings-wrapper {
      width: 200px;
    }
  }
  @media screen and (max-width: 1000px) {
    .headings-wrapper {
      display: none;
    }
  }
  :global(.dark) {
    .content-wrapper {
      background-color: var(--blackColor);
    }
    .headings-wrapper {
      a {
        color: var(--blueLightColor);
      }
    }
  }
</style>

<div class="page-wrapper">
  <div class="content-wrapper">
    <slot />
  </div>
  <div class="headings-wrapper">
    <div class="headings-sticky-wrapper">
      {
        headings.map((heading) => {
          if (heading.depth === 1) {
            return (
              <h4>
                <a href={`#${heading.slug}`}>{heading.text}</a>
              </h4>
            );
          } else if (heading.depth === 2) {
            return (
              <h5>
                <a href={`#${heading.slug}`}>{heading.text}</a>
              </h5>
            );
          }
        })
      }
    </div>
  </div>
</div>
