body {
  margin: 0;
}
pre {
  padding: 8px;
  border-radius: 4px;
}
:not(pre)>code {
  color: #d22;
  background-color: #ddd;
  padding: 4px;
  margin: 0 2px;
  border-radius: 2px;
}
body {
  font-family: "Noto Sans JP", sans-serif;
}
